.container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content max-content;
}

.outlet {
  padding: 0 36px;
}

.link {
  text-decoration: none;
}

.link > header {
  color: #333;
  font-weight: bold;
  font-size: 48px;
  padding: 36px;
}
