@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.app {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  width: 100%;
  place-content: center;
}

.title {
  font-weight: 500;
}

.built {
  color: #ccc;
  font-size: 13px;
  text-align: center;
}