.login {
  display: grid;
  place-content: center;
  row-gap: 20px;
}

.form {
  display: grid;
  row-gap: 12px;
}

.form > input {
  height: 32px;
  width: 220px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  padding: 4px 8px;
}

.form > input.-error {
  border: 1px solid lightcoral;
}

.form > button {
  height: 36px;
  width: 120px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  place-self: flex-end;
}

.form > button:enabled {
  background-color: aquamarine;
  color: #00774f;
}