.container {
  display: grid;
  grid-template-rows: max-content minmax(180px, 360px);
  row-gap: 48px;
  place-items: center;
  height: 100%;
  width: 100%;
}

.container > header {
  font-weight: bold;
  font-size: 20px;
  color: #666;
  line-height: 28px;
  text-align: center;
}